html{
  /* Convert Root EM(rem) from 16px to 10px*/
  font-size: 62.5%;
}
body {
  font-family: 'Roboto', sans-serif;
  font-size: 1.4rem;
  font-weight: 300;
  font-style: normal;
  line-height: 1.42;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Microsoft New Tai Lue', sans-serif;
  font-weight: 500;
  font-style: normal;
  line-height: 1.42;
  margin: 0;
}
h1{
  font-size: 2.4rem;
  color: hsl(240, 50%, 50%);
}
li a{
  font-family: 'Arial Nova', sans-serif;
  font-stretch: condensed;
  font-weight: lighter;
  font-size: 2.5rem;
}
.hero_button {
  font-family: 'Arial Nova';
  font-stretch: condensed;
  font-weight: lighter;
  font-size: 1.3rem;
}
.portbutton{
  font-family: 'Arial Nova', sans-serif;
  font-stretch: condensed;
  font-weight: lighter;
  font-size: 3rem;
}